@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0A0A0B;
  --panel: #15151A;
  --border: #27272F;
  --fg: #EDEDEF;
  --muted: #9A9AA3;
  --accent: #7C5CFF;
  --accent-hover: #9579FF;
  --success: #22C55E;
  --warning: #F59E0B;
  --codebg: #1B1B22;
}

body {
  color: var(--fg);
  background-color: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
